$text-primary: #ffb400;
$text-second: "";
$text-white: #ffffff;
$text-muted: #767676;
$text-danger: "";
$text-warning: "";

$bg-primary: #ffb400;
$bg-second: #ffb400;
$bg-muted: #f0f0f6;
$bg-white: #ffffff;