.txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.75rem + 1.5vh, 2rem);
    line-height: 24px;
}

.txt--white {
    color: $text-white;
}
.txt--yellow {
    color: $text-primary;
}
.txt--muted {
    color: $text-muted;
}

.txt--neo {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

    // animation: pulsate 0.6s ease-in-out infinite alternate; 
}

@keyframes pulsate {
    
    100% {
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
    }
    
    0% {
      text-shadow:
        0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #f09,
        0 0 73px #f09,
        0 0 80px #f09,
        0 0 94px #f09,
        0 0 140px #f09;
  }
}