@import 'abstracts/variables.module';
@import 'base/reset.module';
@import 'base/typography.module';


@import 'component/header.module';
@import 'component/infocard.module';
@import 'component/leftmenu.module';
@import 'component/listprogress.module';
@import 'component/tagskill.module';
@import 'component/experiencestable';
@import 'component/footer';
@import 'component/chatbox.module';

@import 'page/home.module';
@import 'page/about.module';
@import 'page/pentest.module';