.banner-section {
    display: flex;
    background-color: $bg-white;
    height: 50vh;
    background-image: url('../../public/images/banner-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;

    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 1.75vw;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-body {
        display: flex;
        flex: 1;
        align-items: center;
        padding-bottom: 15vh;

        &__content {
            padding: 0 1vw;
        }
    }


    @media screen and (max-width: 757px) {
        margin-top: 2vh;

        &__image {
            display: none !important;
        }
    }
}