.banner-section {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    background-color: $bg-white;
    height: 60vh;
    background-image: url('../../public/images/banner-bg.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .banner-menu {}

        .banner-content {
            margin-bottom: 20vh;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }


    @media screen and (max-width: 757px) {
        margin-top: 2vh;

        &__image {
            display: none !important;
        }
    }
}